
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Yusei+Magic&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    background-image: url("/workspace/kingdom-pony-club/assets/images/micangie.jpg">);

}
body{
    font-family: "Yusei Magic";
    color: #777777;

}
#main-block{
    background-color: darkgreen;
    color: #ffffff;
    font: Helvetica;
    border: 5px black solid;
    text-align: center;
}
#logo{
    float: left;
    font-size: 300%;

}
h2{
    font: Helvetica;
    text-transform: uppercase;
    letter-spacing: 4pm;
    color: #555555;

}
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}
#menu li{
    float: right;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#logo, #menu{
    line-height: 75px;
    
}
#menu a:hover{
    border-bottom: 1px solid #777777;
}
.active{
    border-bottom: 1px solid #777777;
}
#hero-image{
    height: 600px;
    width: 100%;
    background: url("/workspace/kingdom-pony-club/assets/images/micangie.jpg") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}
@keyframes hero-zoom{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)

    }
}
#horizontal{
    padding-left: 100px;
    display: inline-block;
    text-align: right;
}
#vertical{
    float: left;
    padding: 0px 30px 30px 30px;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}

.box-1{
    width: 80%;
    margin: auto;
}
.box-2{
    width: 60%;
    margin: auto;
}
.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
input{
    width: 100%
    padding: 12px 20px;
    margin: 8px solid 0;
    box-sizing: border-box;
    background: grey;
}
h2{
    font-family: Ubuntu;
    text-transform: uppercase;
    letter-spacing: 4px:
    color: #555555;
}
#nav{
    background-color: darkgreen;
    color: white;
    width: 100%;
}

#photos{

}