
#main-block{
    background-color: darkgreen;
    color: #ffffff;
    border: 5px black solid;
    letter-spacing: 0.2em;
    word-spacing: 1em;
    text-align: center;
}
#logo{
    float: left;
}
#horizontal{
    padding-left: 100px;
    display: block;
}
#vertical{
    float: left;
    padding: 0px 30px 30px 30px;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}
.box-1{
    width: 80%;
    margin: auto;
}
.box-2{
    width: 60%;
    margin: auto;
}
.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
