
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Yusei+Magic&display=swap');

*{
    font-size: 16px;
    margin:0;
    padding:0;
    border:0;
}

:root {
    --background: rgba(85, 214, 170, .85);
}
body{
    font-family: "Yusei Magic";
    letter-spacing: 2px;
    color: #777777;

}
/* =======top of page
====================*/
header{
    background: var(--background);
    text-align: center;
    width: 100%;
    height: 150%;

}

.logo{
    float: left;
    font-size: 100%;
    margin-left: 30px;

}
.menu{
    font-size: 200px;
    list-style-type: none;
    letter-spacing: 4px;
}

.horizontal{
    padding-left: 100px;
    display: inline-block;
    text-align: right;
}

.logo menu{
    line-height: 200px;
    
}

.menu li{
    float: right;
    margin-right: 30px;
}
.menu a{
    text-decoration: none;
    color: inherit;
}

.horizontal .menu li:hover{
    border-bottom: 3px solid darkgreen;
}
.active{
    border-bottom: 1px solid darkgreen;
}


/* ======= middle bits
====================*/
h2{
    font-size: 250%;
    font: Ubuntu;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;

}


#hero-image{
    height: 600px;
    width: 100%;
    background: url("/workspace/kingdom-pony-club/assets/images/micangie.jpg") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);

    }
}
#cover-text, #cover-text h2{
    color: #ffffff;

}

#cover-text{
    font-size: 80%;
    font-family: Ubuntu;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(10, 288, 241, .664);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#club-ethos{
    height: 600px;
}
#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width: 33%;
    margin: 0 auto;
}
hr{
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}
.left-about-heading{
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading{
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading h2{
    text-align: right;
}
.right-about-heading p{
    text-align: right;
}
#welcome{
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}
#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
#circle-cover-bg{
    background: url("/workspace/kingdom-pony-club/assets/images/xcimage.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#times{
    background-image: url("/workspace/kingdom-pony-club/assets/images/aisdressage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}
#times div{
    color: white;
    font-size: 4px;
    background-color: rgba(0,0,0,.1);
    width: 19%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center; 
    margin: 2px;
    
}
#times h2{
    font-size: 25px;
    color: #fafafa;

}
#times h3{
    font-size: 18px;
    color: #fafafa;

}
footer{
    height: 150px;

}
.social-networks{
    text-align: center;

}
.social-networks li{
    display: inline;
}
.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;

}
#photos{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;

}
#photos img{
    width: 100%
}
@media screen and (max-width: 1393px) {
    #club-ethos{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #welcome{
        padding: 30px 0;
        margin-top: 0;
    }

#left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
}
#center-about{
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}
hr{
    display: none;

}
#times div {
    width: 100%;
    clear: both;
    height: 150%;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    padding: 0;

}


@media screen and (max-width: 943px) {
    .menu{
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;   
}
/*
#cover-image{
    height: 500px;
    background-size: cover;
    background-position: center;
    background: url("/workspace/kingdom-pony-club/assets/images/micangie.jpg") no-repeat;

}
*/
#cover-text{
    left: 0px;
}
#club-ethos{
    width: 90%;
    height: 1200px;
    margin: 0 auto;

}
.left-about-heading .right-about-heading{
    width: inherit;

}
.left-about-heading h2, .right-about-heading h2{
    width: 100%;
    text-align: center;

}
.left-about-heading p, .right-about-heading p{
    text-align: center;
    padding: 0 20px 0 20px;

}
#photos{
    column-count: 3;
}
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}

.form-section{
    clear: left;
    background: url("/workspace/kingdom-pony-club/assets/images/tents.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    background-color: rgba(0,0,0,.1);

}
.signup-form{
    margin-top: 150px;
    color: #fff;
    background-color: rgba(0,0,0,.1);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    
}
.signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.1);
}
.text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.email-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input-hover{
    border-color: #f16c6b;

}
.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding:15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover{
    border-color: #f16c6b;
}


#vertical{
    float: left;
    padding: 0px 30px 30px 30px;
}


.box-1{
    font-size: 110%;
    width: 100%;
    margin: 30px;
    padding: 20px;
    clear: both;

}
.box-2{
    font-size: 100%;
    width: 100%;
    margin: 30px;
    padding: 20px;
    clear: both;

}
.box-3{
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    margin: 30px;
    padding: 10px;
    clear: both;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.form-section input{
    width: 100%;
    padding: 12px 20px;
    margin: 10px solid 0;
    box-sizing: border-box;
    background: white;
}
.form-section h2{
    font-family: "Yusei+Magic";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: white;
}
.text-input:hover{
    background-color: #63ebc2;
}
.form-section .join-button{
    font-family: "Yusei+Magic";
    font-size: 30px;
    font-weight: bolder;
    color: darkgreen;

}
.form-section .join-button.join-button:hover{
    background-color: #63ebc2;
    color: darkgreen;
}
